body.rtl .search-form label,
body.rtl .exclusive-posts .exclusive-now,
body.rtl .float-l{
    float: right;
}

body.rtl .af-reated-posts.col-ten{float: none;}


body.rtl .aft-small-social-menu {
    text-align: left;
}
body.rtl .off-cancas-panel {
    margin-right: 0;
    margin-left: 15px;
}
body.rtl .aft-home-icon{
	float: right;
    margin-left: 10px;
}
body.rtl .main-navigation ul li{
	padding-left: 25px;
	padding-right: 0;
}


body.rtl .swiper-button-next.af-slider-btn{
	left: 0;
	right: inherit;
}
body.rtl .swiper-button-prev.af-slider-btn {
    left: inherit;
    right: 0;
}
body.rtl .swiper-button-next.af-slider-btn:after {
    content: '\f104';
}
body.rtl .swiper-button-prev.af-slider-btn:after {
    content: '\f105';
}

body.rtl .read-img .min-read-post-comment,
body.rtl .read-img .min-read-post-format {
    left: inherit;
    right: 10px;
}

body.rtl .nav-tabs>li>a i{
	margin-right: 0px;
	margin-left: 5px;
}

body.rtl #scroll-up{
	right: inherit;
	left: 20px;
}

body.rtl .nav-tabs>li{
	float: right;
}
body.rtl .inner-suscribe input[type=submit]{
	right: inherit;
	left: 0;
}

body.rtl .main-navigation ul.children li,
body.rtl .main-navigation ul .sub-menu li {
    padding: 0;
    text-align: right;
}
body.rtl .main-navigation ul ul {
    right: -999em;
    left: inherit;
}
body.rtl .main-navigation ul li:hover > ul, 
body.rtl .main-navigation ul li.focus > ul {
    left: inherit;
    right: auto;
}
body.rtl .main-navigation ul ul li:hover > ul, 
body.rtl .main-navigation ul ul li:focus > ul {
    right: calc(100% + 1px);
    left: inherit;
}

body.rtl .af-search-form{
	right: inherit;
	left: 0;
}


.sidr.right{
    left: -380px;
}

body.rtl .cat-links li{
    margin-right: 0;
    margin-left: 8px;
}
body.rtl .big-grid .read-details{
    left: inherit;
    right: 0;
}
body.rtl .banner-slider-2 .read-details{
    left: inherit;
    right: 25px;
}

body.rtl .af-double-column.list-style .aft-spotlight-posts-1 .read-bg-img .min-read-post-format{
    left: inherit;
    right: 15px;    
}

body.rtl .header-style1.header-layout-1 .site-branding{
    text-align: right;
}

body.single-post.aft-single-full-header .entry-header .read-img .min-read-post-format{
    left: inherit;
    right: 50%;
    transform: translateX(50%);
}


/*archiver rtl options==========*/
body.rtl article.archive-image-left .list-style .read-single{
    flex-direction: row-reverse;
}
body.rtl article.archive-image-right .list-style .read-single{
    flex-direction: row;    
}
/*archiver rtl options==========*/
body.rtl.align-content-left #content.container-wrapper{
    flex-direction: row-reverse;
}
body.rtl.align-content-right #content.container-wrapper{
    flex-direction: row;
}

/*media query=====*/
@media screen and (max-width: 992em){
	body.rtl .toggle-menu {
    float: right;
	}
	body.rtl .main-navigation .menu .menu-mobile li a {
    padding-left: 50px;
    padding-right: 10px;
    text-align: right;
	}
	body.rtl .main-navigation .menu .menu-mobile li a i {
    right: inherit;
    left: 0;
	}
	body.rtl .main-navigation .menu .menu-mobile li .children, 
	body.rtl .main-navigation .menu .menu-mobile li .sub-menu {
    right: 0;
    left: inherit;
	}
}

@media screen and (max-width: 992em){
	body.rtl .header-style1 .header-right-part {
    left: 15px;
    right: inherit;
	}
}